.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  height: 100vh;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.splashAnim{
  /* transform: translateX(-2000px); */
  transform: translateX(-2000px),rotateX('90deg');
  opacity: 0;
  /* animation: slidein 2s 1s forwards cubic-bezier(.63,-0.08,0,.75), slideout 1s 5s forwards cubic-bezier(.14,1.28,1,.26); */
  animation: slidein 2s 1s forwards cubic-bezier(.63,-0.08,0,.75), slideout 1s 5s forwards;
}

@keyframes slidein {
  /* 0%{transform: translateX(-1500px);opacity: 0;}
  100%{transform: translateX(0px);opacity: 1;} */
  0%{transform: translateX(-1500px),rotateX('90deg');opacity: 0;}
  100%{transform: translateX(0px),rotateX('0deg');opacity: 1;}
}

@keyframes slideout {
  /* 0%{transform: translateX(0px);opacity: 0.2;}
  100%{transform: translateX(1500px);opacity: 0;} */
  0%{transform: translateX(0px),rotateX('0deg');opacity: 0.5;}
  100%{transform: translateX(1500px),rotateX('90deg');opacity: 0;}
}

