
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* background-color: aquamarine; */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    margin-top: 100px;
  }

 :root{
  /* overflow: hidden; */
  /* ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
    z-index: -1;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rebeccapurple;
  } */
 }